<% layout('../layout/layout') -%>
<% include ../layout/header.ejs %>

<div class="row">
<div class="col-lg-12">
    <h3 class="pull-left">List Users</h3>
    <a href="/user/add" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span> Add User</a>
</div>
</div>

<div class="row">
    <div class="col-lg-12">
        <hr />
    </div>
</div>

<div class="row marketing">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Fullname</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(function (user){ %>
            <tr>
                <td><%= user.fullname %></td>
                <td><%= user.role %></td>
                <td>
                    <div class="btn-group">
                        <a href="/user/edit/<%= user._id %>" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span> Modifica</a>
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/user/remove/<%= user._id %>"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Elimina</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>   
</div>
