<% layout('../layout/layout') -%>
<% include ../layout/header.ejs %>

<h3>List Media</h3>
<hr>

<div class="row">
<div class="col-lg-12">
	<a href="/media/add" class="btn btn-success pull-right">Add Media</a>
	<% if (message.length > 0) { %>
	   <div class="alert alert-success"><%= message %></div>
	 <% } %>
</div>
</div>

<div class="row marketing">
	<% if(medias.length > 0) { %>
        <table class="table table-bordered" style="background-color: #ffffff;">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% medias.forEach(function (media){ %>
            <tr>
                <td><% if(media.title) { %> <%= media.title %> <% } else { %> No title <% } %></td>
                <td>
					<!-- Split button -->
					<div class="btn-group">
					  <a href="/media/edit/<%= media._id %>" class="btn btn-success">Modifica</a>
					  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    <span class="caret"></span>
					    <span class="sr-only">Toggle Dropdown</span>
					  </button>
					  <ul class="dropdown-menu">
						<li><a href="#">Preview</a></li>
					    <li><a href="/raspberry/view/<%= media._id %>">Send On Raspberry</a></li>
					  </ul>
					</div>
                </td>
            </tr>
            <% }); %>
            </tbody>
        </table>
    <% } %>
</div>
