<% layout('../layout/layout') -%>
<% include ../layout/header.ejs %>

<div class="row">
<div class="col-lg-12">
    <h3 class="pull-left">Run on Raspberry Media: <%= media.title %></h3>
    <a href="/media" class="btn btn-success pull-right"><span class="glyphicon glyphicon-arrow-left"></span> Go Back</a>
</div>
</div>

<div class="row">
    <div class="col-lg-12">
        <hr />
    </div>
</div>

<div class="row">
	<div class="col-lg-12 text-center">
		<a class="btn btn-default btn-lg" href="javascript:void(0);" data-id="<%= media._id %>" role="button" id="showButtonPlay"> <span class="glyphicon glyphicon-play"></span> Play</a>
		<a class="btn btn-default btn-lg" href="javascript:void(0);" role="button" id="showButtonPause"><span class="glyphicon glyphicon-pause"></span> Pause</a>
		<a class="btn btn-default btn-lg" href="javascript:void(0);" data-id="<%= media._id %>" role="button" id="showButtonResume"><span class="glyphicon glyphicon-play"></span> Resume</a>
		<a class="btn btn-default btn-lg" href="javascript:void(0);" role="button" id="showButtonQuit"><span class="glyphicon glyphicon-stop"></span> Quit</a>
	</div>
</div>

<br />